<h1>add a new list</h1>

<%= simple_form_for [ @list ] do |f| %>
  <%= f.input :title %>
   <%= f.input :overview %>
    <%= f.input :poster_url %>
     <%= f.input :rating %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
